<!doctype html>
<html class="no-js" lang="en">

<head>
		
	<meta charset="utf-8">

	<title>KeepScore</title>
	
	<meta name="description" content="A score keeping web toy.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">

	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/styles.css">

	<script src="https://unpkg.com/vue@next"></script>

</head>

<body>

	<header>

		<h1>KeepScore</h1>

	</header>

	<section id="keep-score" class="new">

		<ul>

			<li v-for="(gamePlayer, id) in gamePlayers" @click="playerTurn">
				
				<label v-if="starting">
					<input type="text" :placeholder="'Player ' + ( id + 1 )" v-model="gamePlayer.name">
				</label>
				
				<div v-if="playing||ending" class="name">{{ gamePlayer.name }}</div>
				
				<div v-if="playing||ending" class="score">{{ gamePlayer.score }}</div>
				
				<div class="add">
					+<input type="text" v-model="gamePlayer.added" @keyup="addScore">
					<input type="hidden" v-model="id">
				</div>
				
				<div class="total">{{ gamePlayer.total }}</div>
			
			</li>

			<li v-if="starting" class="add-player-row">
				<button id="add-player" @click="addPlayer">Add Player</button>
			</li>

		</ul>

		<div class="buttons">

			<button v-if="starting" id="start-game" @click="startGame">Start Game</button>

			<button v-if="playing" id="end-game" @click="endGame">End Game</button>

			<div v-if="ending">Reload to play again.</div>

		</div>

	</section>

	<script src="js/app.js"></script>

</body>

</html>