<!doctype html>
<html class="no-js" lang="en">

<head>
		
	<meta charset="utf-8">

	<title>KeepScore</title>
	
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:image" content="">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">

	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/styles.css">

	<script src="https://unpkg.com/vue@next"></script>

</head>

<body>

	<header>

		<h1>KeepScore</h1>

	</header>

	<section id="keep-score" class="new">

		<ul>

			<li v-for="gamePlayer in gamePlayers">
				<label v-if="starting"><input type="text" v-model="gamePlayer.name"></label>
				<div v-if="playing" class="name">{{ gamePlayer.name }}</div>
				<div v-if="playing" class="score">{{ gamePlayer.score }}</div>
				<div v-if="gamePlayer.turn" class="add">+<input type="text"></div>
				<div v-if="gamePlayer.turn" class="total">20</div>
			</li>

			<li v-if="starting" class="add-player-row">
				<button id="add-player" @click="addPlayer">Add Player</button>
			</li>

		</ul>

		<div class="buttons">

			<button v-if="starting" id="start-game" @click="startGame">Start Game</button>

		</div>

	</section>

	<script src="js/app.js"></script>

</body>

</html>